.label-name {
			padding:0 0 0 10px;
		}
			
		.label-other,
		label-summary {
			padding:0 0 0 90px;
		}
		
		p {margin-top:-5px;}
		
		p.fname {
			margin:-110px 0 0 80px;
		}
		
		.content {
			margin-top:10px;
		}
		
		img {
			margin-bottom:10px;;
		}
		
		
